/**
 * @version    3.7.x
 * @package    Simple Image Gallery Pro
 * @author     JoomlaWorks - https://www.joomlaworks.net
 * @copyright  Copyright (c) 2006 - 2019 JoomlaWorks Ltd. All rights reserved.
 * @license    https://www.joomlaworks.net/license
 */

/* --- Generic Styling --- */
a:active,a:focus { outline:0; }
table.contentpaneopen { width:100%; }
li.sigProClear { clear:both; float:none!important; height:0!important; line-height:0!important; border:none!important; background:none!important; width:auto; margin:0!important; padding:0!important; }

/* Container */
ul.sigProClassic { margin:8px auto!important; padding:8px 0!important; list-style:none; clear:both; overflow:hidden; }
	ul.sigProClassic.singleThumbGallery { margin:0!important; padding:8px 0!important; list-style:none!important; float:left; }

/* Thumbnail */
ul.sigProClassic li.sigProThumb { float:left; margin:5px; padding:0; list-style:none!important; background:#fff!important; }

/* width:33%; to force columns */
ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper { display:block; float:left; margin:0; padding:0 5px 5px 0; }
ul.sigProClassic li.sigProThumb span.sigProLinkWrapper { display:block; float:left; margin:-5px 0 0 -5px; padding:4px; border:1px solid #ccc; box-shadow: 3px 3px 5px #888; background: #fff;}
ul.sigProClassic li.sigProThumb a.sigProLink,
ul.sigProClassic li.sigProThumb a.sigProLink:hover { position:relative; float:left; display:block; padding:0; margin:0; border:none; }
ul.sigProClassic li.sigProThumb a.sigProLink { color:#eee; }
ul.sigProClassic li.sigProThumb a.sigProLink:hover { color:#222; text-decoration:none; }
ul.sigProClassic li.sigProThumb a.sigProLink img.sigProImg,
ul.sigProClassic li.sigProThumb a.sigProLink:hover img.sigProImg { display:block; width:100%; height:100%; padding:0; margin:0; border:none; background-repeat:no-repeat; background-position:50% 50%; }

/* Caption */
ul.sigProClassic span.sigProPseudoCaption,ul.sigProClassic span.sigProCaption { display:block; position:absolute; bottom:0; left:0; right:0; text-align:center; padding:2px 4px; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; }
ul.sigProClassic li.sigProThumb a.sigProLink span.sigProPseudoCaption { background:#000; }
ul.sigProClassic li.sigProThumb a.sigProLink:hover span.sigProPseudoCaption { background:#fff; }
ul.sigProClassic span.sigProPseudoCaption { opacity:0.7; -moz-opacity:0.7; }
ul.sigProClassic span.sigProPseudoCaption b { visibility:hidden; }

/* Popup */
span.sigProPopupCaption { font-weight:bold; color:#C63C13; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; }
a.sigProDownloadLink,
a.sigProDownloadLink:hover { background:url(../images/disk.png) no-repeat left center; padding:4px 0 4px 20px; }
div.sigProModulePosition { text-align:center; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:4px; margin:8px 0; background:#ffffdd; }

/* IE specific styling: Use "body.sigProIsIEX element {}" - where X is 6, 7 or 8 - to target elements for these browser versions only */
body.sigProIsIE6 { }
body.sigProIsIE6 ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper { background:url(../images/shadow.gif) no-repeat right bottom; padding:0 5px 5px 0; }
body.sigProIsIE6 ul.sigProClassic li.sigProThumb span.sigProLinkWrapper { margin:0; }
body.sigProIsIE6 ul.sigProClassic span.sigProPseudoCaption,
body.sigProIsIE6 ul.sigProClassic span.sigProCaption { width:100%; padding:2px 0; cursor:pointer; }

body.sigProIsIE7 { }
body.sigProIsIE7 ul.sigProClassic li.sigProThumb a.sigProLink,
body.sigProIsIE7 ul.sigProClassic li.sigProThumb a.sigProLink:hover { float:left; }

body.sigProIsIE6 ul.sigProClassic span.sigProPseudoCaption,
body.sigProIsIE7 ul.sigProClassic span.sigProPseudoCaption,
body.sigProIsIE8 ul.sigProClassic span.sigProPseudoCaption { filter:alpha(opacity=70); }

/* Flickr Set link */
a.sigProFlickrSetLink {display:block;clear:left;padding:2px 8px;font-size:10px;text-align:center;}

/* Print message */
.sigProPrintMessage {display:none;}
