.mobile-bottom-nav{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index:1000;

  //give nav it's own compsite layer
  will-change:transform;
  transform: translateZ(0);

  display:flex;

  height:50px;

  box-shadow: 0 -2px 5px -2px #333;
  background-color: #F4F4F2;

  &__item{
    flex-grow:1;
    text-align:center;
    font-size:12px;

    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  &__item--active{
    //dev
    color:red;
  }
  &__item-content{
    display:flex;
    flex-direction:column;
  }
}