ul{
    list-style: none;
}
/*#########galleryS LIST PAGE###########*/
#gallerys-list-page  .add-new-h2 {
    cursor:pointer;
}

#gallerys-list-page .actions {
}

#gallerys-list-page .actions label {
    display:block;
    float:left;
    margin-top:5px;
}

#gallerys-list-page .actions input {
    display:block;
    float:left;
}

#gallerys-list-page table tr.has-background {background:#f9f9f9;}

/*galleryS TABS*/
 #gallerys-list  {
    width:100%;
    display:table;
    border-bottom:1px solid #ccc;
    height:30px;
    padding:0px 0px 0px 0px;
    margin: 0px;
}
 
#gallerys-list  li {	
    position:relative;
    display:block;
    float:left;
    height:29px;
    margin:0px 5px 0px 0px;
    padding:0px 0px 0px 0px;
    border:1px solid #ccc;
    border-bottom:0px;
}

#gallerys-list  li.active {
    padding:0px 16px 1px 0px;
    margin-bottom:-1px;
    background-color:#fff;
    background-position:right center;
    background-repeat:no-repeat;
}


#gallerys-list  li a,#gallerys-list  li a:link,#gallerys-list  li a:visited {
    display:block;
    text-decoration:none;
    padding:8px 10px 5px 10px;
    height:16px;
    background: #ebebeb;
    color: #777;
    outline:none;
}

#gallerys-list  li a:hover,#gallerys-list  li a:focus,#gallerys-list  li a:active {
    color:#444;
    background:#f1f1f1;
}

#gallerys-list  li.add-new a:hover,#gallerys-list  li.add-new a:focus,#gallerys-list  li.add-new a:active {
    cursor:pointer;
}
.text{
    width:116px !important;
}
.textSelect{
    width:114px !important;
}
.color {
    width:100px !important;
}
.form-horizontal .controls{
    margin-left:250px !important;
}
.color{
    /*width: 1000px;*/
}
.hndle{
    font-size: 13px;
    text-align: center;
}
li{
    list-style: none
}
#gallerys-list  li.active input {
	margin:4px 0px 0px 5px;
	background:#FFF;
	outline:none;
	width:100px;
	box-shadow:none;
	border:0px;
}
.form-horizontal .controls
{
    margin-left:256px
}


/*SIDEBAR*/
#postbox-container-1{
    width: 14%;
    float: right;
    background: #fff
}
#gallery-unique-options-list{
    padding: 0 9px 0 0;
    margin:0px;
}
#gallery-unique-options-list li label {
	display: inline-block;
        width: 77px;
        padding: 0px 0px 0px 2px;
}

#gallery-unique-options-list li input[type='text'],#gallery-unique-options-list li select {width:100%;}

#gallery-shortcode-box ul li:first-child {
	border-bottom:1px solid #ccc;
	padding-bottom:18px;
}

#gallery-shortcode-box li textarea.full {
	width:100%;
	height:50px;
	resize:none;
}


#side-sortables.gallery-custom-options {
	min-height:10px !important;
}
.hndle{
text-align: center    
}
#slider-unique-options-list{
    margin:0px;
    padding:0px;
}
slider-unique-options-list li label{
display: inline-block;
width: 40px;
padding: 0px 0px 0px 10px
}
.gallery-current-options-3{
    padding:0;
}
#slider-unique-options-list li {
    padding:10px 0 14px 1px;
}#slider-unique-options-list li label  {
   width: 39%;
}
#slider-unique-options-list li input {
    width: 49%;
}
#slider-unique-options-list li select{
   width: 55%;
}
#display_type {
   width: 96%
}
#content_per_page > label {
  width: 54% ;   
}
/*CONTENT*/
#post-body-content{
    width: 100%;
    float: left;
    border: 1px solid #e3e3e3;
}

#post-body-heading {
	width:100%;
	padding:10px 0px 10px 0px;
	height:30px;
	background:#fff;
	
}

.gallery-options #post-body-heading {width:100%;}

#post-body-heading h3 {
	float:left;
	margin:-5px 0px 0px 5px !important;
	padding:0px;
}

#post-body-heading .button,#post-body-heading .save-gallery-options  {
	float:right;
	margin-right:10px !important;
}

#post-body-heading .button.add-post-slide input {
	position:absolute;
	display:none;
}

#post-body-heading .button.add-new-image .wp-media-buttons-icon {
	background: url('../../../../wp-admin/images/media-button.png') no-repeat top left;
	display: inline-block;
	width: 90px;
	height: 24px;
	vertical-align: text-top;
	color: #fff;
	-webkit-box-shadow: inset 0 0px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 0px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	border: none; 
	padding-left: 22px;
	background-position: 0px;
	margin-right: 0px !important;
}


#post-body-heading .button.add-video-slide .wp-media-buttons-icon {
	background: url('../images/video.icon.png') left top  no-repeat;
	display: inline-block;
	width: 0px;
	height: 19px;
	vertical-align: text-top;
	color: #fff;
	border: none; 
	padding-left: 22px;
	background-position: 0px;
	margin-right: 0px !important;
}



#post-body-footer {
	padding:5px 10px 5px 10px;
}

#post-body-footer a.save-gallery-options {
	float:right;
}

#images-list {
	display:table;
	width:100%;
	height:auto;
	/*border: 1px solid #e5e5e5;*/
	margin:0px;
        padding: 0px;
}

#images-list > li {
	clear:both;
	display:block;
	background-color:#fff;
	margin:0px;
	padding:10px 5px 10px 5px;
        /*min-height: 350px;*/
}

#images-list > li.has-background {background-color:#f9f9f9; }

#images-list > li:hover {
	cursor:move;
	background-image:url(../images/dragable.gif);
	background-position:right top;
	background-repeat:repeat-y;
}

#images-list > li.ui-sortable-helper {
	opacity:0.8;
}

#images-list .image-container {
    position:relative;
    width:24%;
    padding:0px 0.5% 0px 0.5%;
    float:left;
}


#images-list .image-options {
    width: 78%;
    float: left;
    margin-left: 10px;
}

#images-list .image-container img {
    width: 100%;
}


#images-list  .play-icon {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;	
}

#images-list  .play-icon.youtube {background:url(../images/play.youtube.png) center center no-repeat;}

#images-list  .play-icon.vimeo {background:url(../images/play.vimeo.png) center center no-repeat;}


#images-list .image-options > div {
    clear:both;
    width:100%;
    margin:0px 0px 10px 0px;
}

#images-list .image-options label {
    display: inline-block;
    float:left;
    width: 10%;
    padding: 3px 0px 0px 0px;
    vertical-align: middle;
} 

#images-list .description-block label {padding:10px 0px 0px 0px;}

#images-list .image-options input[type='text'], #images-list .image-options select, #images-list .image-options textarea {
	width: 83% ;
}

 #images-list .image-options textarea { height:60px;}

#images-list .image-options .link-block   input.url-input  {
	float:left;
	width:61%;
}

#images-list .image-options .link-block label.long {
	width: 21%;
	padding:3px 0px 0px 1%;
}

#images-list .image-options .link-block label.long span {
	padding:0px 
}

#images-list .image-options .link-block   input.link_target {
	margin-top:-2px;
}


#images-list .image-options textarea {resize:none;}

#images-list .image-options .remove-image-container {
	position:relative;
	clear:both;
	height:20px;
	padding:10px 0px 0px 0px;
	width:100%;
        right: 41px;
}
#images-list .image-options .remove-image {float:right;}

.editimageicon {
	border:0px;
	background:none;
	color:#2ea2cc;
	outline:none;
	display:inline;
	height: 24px;
	/*padding-top: 0px;*/
	cursor:pointer;
	text-decoration:underline;
	padding:6px 20px 0px 0px;
	background: url(../images/edit.png) right 8px no-repeat;
}

.editimageicon:hover {
	color:#0074a2;
}



/*Current Options*/

/*###############  OPTIONS PAGE  ###############*/

.gallery-current-options {display:none;}
.gallery-current-options.active {display:block;}

#gallery-options-list {
	width:100%;
	background:#fff;
}

#gallery-view-tabs {
	position:relative;
	list-style:none;
	border-bottom:1px solid #ddd;
	height:40px;
	padding-top:10px;
}

#gallery-view-tabs  li  {
	float:left;
	margin:0px 5px 0px 5px;
}

#gallery-view-tabs  li a {
	display:block;
	height:30px;
	padding:10px 10px 0px 10px;
	border:1px solid #ddd;
	border-bottom:0px;
	text-decoration:none;
}

#gallery-view-tabs  li.active a {
	padding-bottom:1px;
	background:#fff;
}

#gallery-view-tabs-contents > li  {
	position:relative;
	width:100%;
	float:left;
	display:none;
}

#gallery-view-tabs-contents > li.active  {
	display:block;
}


#gallery-view-tabs-contents > li  > div {
	position:relative;
	display:block;
	float:left;
	margin:10px 1% 25px 1%;
	padding:0px 1% 10px 1%;
	width:46%;
	background:#f9f9f9;
}
#gallery-view-tabs-contents > li   div.has-background {background:#fff;}
#gallery-view-tabs-contents > li   div.has-height > div {display:inline-block;}


#gallery-view-tabs-contents > li  > div  h3 {
	display:block;
	text-align:center;
	margin:0px 0px 10px 0px;
}

#gallery-view-tabs-contents > li  > div > div {
	position:relative;
	clear:both;
	width:100%;
	height:35px;
	padding:5px 0px 0px 0px !important;
	margin:0px !important;
}

#gallery-view-tabs-contents > li  > div  div.has-height {height:auto;padding:0px !important;} 

#gallery-view-tabs-contents > li  > div > div label {
	display:inline-block;
	width:60%;
	padding:5px 0px 0px 2%;
	height:30px;
	float:left;
}



#gallery-view-tabs-contents > li  > div > div div.slider-container {
	position:relative;
	display: inline-block;
	width: 145px;
	margin-left:-5px;
}

#gallery-view-tabs-contents > li  > div > div div.slider-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

#gallery-view-tabs-contents > li  > div > div input[type='text'],#gallery-view-tabs-contents > li  > div > div select {
	width:100px;
}

#gallery-view-tabs-contents > li  > div > div input[type='checkbox'] {
	margin:7px 0px 3px 0px;
}

#gallery-view-tabs-contents > li  > div > div .bws_position_table input {
	margin:3px 17px 3px 3px;
}

#arrows-type {
	/*display:table;*/
	margin:0px;
	padding:0px 0px 0px 20px;
}

#arrows-type li {
	position:relative;
	margin:0px 3% 10px 0px;
	float:left;
	border:1px solid #e5e5e5;
}

#arrows-type li.color {
	background:#f9f9f9;
}

#arrows-type li.active {
	border:1px solid #0074c2;
}

#arrows-type li > div {
	position:relative;
	width:155px;
	height:145px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;

}
#arrows-type li > div p {
	font-size:10px;
	text-align:left;
	vertical-align:bottom;
}

#arrows-type li  input {
	position:relative;
	vertical-align:middle;
	width:170px;
	height:160px;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:0px !important;
	opacity:0;
}

.image-block img{
    float: none;
}

/*#####ADD POSTS POPUP###*/

#huge_it_gallery_add_posts {
	position:relative;
	margin:0px 0px 10px 0px;
}

#huge-it-category- {
	float:left;
}

#huge-it-categories-list {
	width:150px;
	margin:0px 10px 0px 0px;
}

.huge-it-insert-post-button {
	float:right;
}

#huge-it-description-length {
	width:60px;
}

#huge_it_gallery_add_posts_wrap .view-type-block {
	float:right;
	margin:0px 20px 0px 0px;
}

#huge_it_gallery_add_posts_wrap .view-type-block a {
	display:block;
	margin-left:5px;
	width:30px;
	height:30px;
	padding:1px;
	float:right;
	text-indent:-9999px;
	border:1px solid rgba(0,0,0,0);
}

#huge_it_gallery_add_posts_wrap .view-type-block a.active {
	border:1px solid #999;
}

#huge_it_gallery_add_posts_wrap .view-type-block a.list {
	background:url(../images/view_list.png) center center no-repeat;
}

#huge_it_gallery_add_posts_wrap .view-type-block a.thumbs {
	background:url(../images/view_thumbs.png) center center no-repeat;
}

#huge-it-posts-list {
	position:relative;
	display:table;
	width:99%;
}


/*TYPE-LIST*/
#huge-it-posts-list.list  li {
	position:relative;
	float:left;
	width:100%;
	clear:both;
	padding:10px 0px 10px 0px;
}

#huge-it-posts-list.list  li.hascolor {
	background:#fff;
}

#huge-it-posts-list.list  li.active {
	border-right:2px solid #0074a2;
}

#huge-it-posts-list  li input.huge-it-post-checked {
	z-index:1000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0px;
	opacity:0.3;
}

#huge-it-posts-list  li input.huge-it-post-checked.active {opacity:0;}

#huge-it-posts-list.list  li#huge-it-posts-list.list-heading {
	border-bottom:2px solid #666;
	height:30px;
	margin:0px;
	font-weight:bold;
}



#huge-it-posts-list.list  li > div {
	float:left;
	padding:0px 5px 0px 5px;
	
}

#huge-it-posts-list.list .huge-it-posts-list-image {
	width:100px;
	min-height:10px;
	clear:both;
}

#huge-it-posts-list.list .huge-it-posts-list-image img{
	width:100px;
	max-height:100px;
}

#huge-it-posts-list.list .huge-it-posts-list-title {width:150px;}
#huge-it-posts-list.list .huge-it-posts-list-description {width:200px;max-height:98px;overflow:hidden;}
#huge-it-posts-list.list .huge-it-posts-list-description *{margin:0px;padding:0px;}
#huge-it-posts-list.list .huge-it-posts-list-link {width:100px;word-break:break-all;}
#huge-it-posts-list.list .huge-it-posts-list-category {display:none;}

/*TYPE-THUMBS*/

#huge-it-posts-list.thumbs  li {
	position:relative;
	float:left;
	width:100px;
	height:100px;
	overflow:hidden;
	padding:5px;
	margin:7px;
	border:1px solid #666;
	border-radius:3px;
}

#huge-it-posts-list.thumbs  li.active {
	border:2px solid #0074a2;
	margin:6px;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image {
	width:100px;
	height:100px;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image img {
	width:100px;
	max-height:100px;
}



#huge-it-posts-list.thumbs #huge-it-posts-list-heading,
#huge-it-posts-list.thumbs .huge-it-posts-list-title,
#huge-it-posts-list.thumbs .huge-it-posts-list-description, 
#huge-it-posts-list.thumbs .huge-it-posts-list-link,
#huge-it-posts-list.thumbs .huge-it-posts-list-category {display:none;}


/*###########LIGHTBOX###############*/


.lightbox-options-block {
	position:relative;
	width:49%;
	margin:10px 1% 10px 0px;
	float:left;
	background:#fff;
}


.lightbox-options-block > div {
	position:relative;
	padding:10px 10px 5px 10px;
	clear:both;
}

.lightbox-options-block   h3 { 
	text-align: center;
}



.lightbox-options-block > div label {
	display:inline-block;
	width:50%;
	height:35px;
} 


.lightbox-options-block > div.has-background {background:#f9f9f9;}


.lightbox-options-block > div label {
	float:left;
}

.lightbox-options-block > div.has-height > div {display:inline-block;}



.lightbox-options-block > div div.lightbox-container {
	position:relative;
	display: inline-block;
	width: 100px;
	margin-left:-5px;
}

.lightbox-options-block > div div.lightbox-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

.lightbox-options-block > div input[type='text'],.lightbox-options-block > div select , .lightbox-options-block > div input[type='number'] {
	width:100px;
}

.lightbox-options-block > div .bws_position_table input {
	margin:3px 17px 3px 3px;
}


.lightbox-options-block > div div.slider-container {
	position:relative;
	display: inline-block;
	width: 145px;
	margin-left:-5px;
}

.lightbox-options-block > div div.slider-container span {
	position:absolute;
	top:-3px;
	right:0px;
}

.lightbox-options-block  > div.fixed-size {display:none;}

.image-container img {
	width: 200px;
}




/*#####ADD VIDEO SLIDE POPUP###*/

#huge_it_add_video_input {
        float:left;
	width:75%;
	height:33px;
}

#add-video-popup-options > div {
	padding-top:53px;
}

#add-video-popup-options > div.active {display:block;}

#add-video-popup-options > div > div {
	width:100%;
	margin:0px 0px 20px;
	position:relative;
}

#add-video-popup-options > div > div label {
	display: block;
	float:left;
	width:100px;
	padding-top:10px;
	height:20px;
}

#add-video-popup-options > div > div input[type='text'],#add-video-popup-options > div > div textarea {
	width:60%;
}

#add-video-popup-options > div > div .checkbox {
	margin-top:7px
}

#add-video-popup-options > div > div div.slider-container {
	position:relative;
	display: inline-block;
	margin-top:13px;
}



/* Add*/
.button2-left,.blank {
    overflow:hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
}

.hugeitbutton {
    display: block;
    height: 22px;
    float: left;
    line-height: 22px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    background:none !important;
    border:0px;
}

.hugeitbutton:hover {
    color:#025AFD;
}
label{
    display: inline-block;
width: 27%;
padding: 0px 0px 0px 2%;
height: 15px;
float: left;
}
.box{
    position: relative;
    top: -13px;
    left: 112px;
}
 div.current textarea, div.current select,div input[type='text'],div.current number{
width: 100px;}
#images-list .image-options div{
    display: inline-block;
    float: left;
    /*width: 16%;*/
    padding: 3px 0px 0px 0px;
    vertical-align: middle;
}

 ul.adminformlist li{
   margin: 0 0 0 50px !important;
}
.box{
    font-size: 14px;
    float: left;
    position: relative;
    top: -17px;
    left: 113px;
}

// Styles 

.view-style-block:hover  ul {
	display:block;
}

.view-style-block ul li {
	display:none;
	position:absolute;
	top:24px;
	left:-220px;
	width:450px;
	border:1px solid #888;
}

.view-style-block ul li.active {
	display:block;
}


.view-style-block ul li img{width:100%;}


// styles 
.tab-content .span10 .slider-container {
    position: relative;
    display: inline-block;
    width: 155px;
    margin-left: -5px;
    margin-top: 10px;
}
.tab-content .span10  .control-group {
    position:relative;
    width:45%;
    margin:14px 2% 0px 0;
    float:left;
}

.tab-content .span10  .control-group .options-block-title-wrapper {
    height:80px;
    width:100%;
    margin:0px 0px 0px 0px;
    float:none;
    clear:both;
}
ul.adminformlist li label {
    width: 300px;
}
.clear {clear:both;}

/*.span10{
    width: 100% !important;
}*/

.form-horizontal .control-group {
/*margin-bottom: 18px;
float: left;*/
}
.legend{
  color:#0074a2;
  border-bottom: none;
}
.back{
  width:100%;
  height:45%;
  padding:10px 0px 15px 3%;
  border-top:1px solid #bababa ;
  background: -webkit-linear-gradient(bottom,#ffffff 0%,#ededed 100%);
  font-size: 20px;
}
.control-label label {
    width: 300px;
}
.text_area{
    width: 84px !important;
}

.video-sidebar-container {
	position: absolute;
	display: block;
	left: -16.5%;
	width: 16.5%;
	margin: -10px 0 0 -1px;
	padding-top: 28px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	-webkit-border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0;
}
.video-sidebar-container.video-sidebar-hidden {
	left: -16.5%;
}
.video-sidebar-container.video-sidebar-visible {
	left: 0;
	margin:0px;
}
.video-sidebar-container .filter-select {
	padding: 0 0 0 14px;
}
.video-toggle-button-wrapper {
	position: absolute;
	display: block;
	top: 7px;
	padding: 0;
}
.video-toggle-button-wrapper.video-toggle-hidden {
	right: -24px;
}
.video-toggle-button-wrapper.video-toggle-visible {
	right: 7px;
}
.video-toggle-sidebar-button {
	font-size: 16px;
	color: #3071a9;
	text-decoration: none;
	cursor: pointer;
	
}
.video-toggle-sidebar-button:hover {
	color: #1f496e;
}
#system-message-container,
#video-main-container {
	padding: 0 0 0 5px !important;
	min-height: 0 !important;
}
#system-message-container.video-toggle-main,
#video-main-container.video-toggle-main,
#system-debug.video-toggle-main {
	float: right;
}
@media (min-width: 768px) {
	.video-toggle-transition {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}
@media (max-width: 979px) {
	.video-toggle-button-wrapper.video-toggle-hidden {
		right: -20px;
	}
}
@media (max-width: 767px) {
	.video-sidebar-container {
		position: relative;
		width: 100%;
		margin: 0 0 20px 0;
		padding: 0;
		background: transparent;
		border-right: 0;
		border-bottom: 0;
	}
	@media (min-width: 1200px) {
	.row {
		margin-left: -30px;
		*zoom: 1;
	}
	.row-fluid .span10 {
    	width: 82.872928176796% !important;
}
	.video-sidebar-container.video-sidebar-hidden {
		margin-left: 16.5%;
	}
	.video-sidebar-container.video-sidebar-visible {
		margin 0;
	}
	.video-toggle-sidebar-header,
	.video-toggle-button-wrapper {
		display: none;
	}
	.view-login select {
		width: 232px;
	}
}
@media (max-width: 420px) {
	.video-sidebar-container {
		margin: 0;
	}
	.view-login .input-medium {
		width: 180px;
	}
	.view-login select {
		width: 232px;
	}
}

.break-word {
	word-break: break-all;
	word-wrap: break-word;
}
textarea {
	resize: both;
}
textarea.vert {
	resize: vertical;
}
textarea.noResize {
	resize: none;
}
body.modal-open {
	overflow: hidden;
	-ms-overflow-style: none;
}
hr  .hr-condensed{
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc !important;
}

.slider-container {
    float: left;
    margin-top:0px !important;
    position: relative;
    display: block;
    height: 28px !important;
}


