/*
 * @package    JLSitemap Component
 * @version    1.10.2
 * @author     Joomline - joomline.ru
 * @copyright  Copyright (c) 2010 - 2020 Joomline. All rights reserved.
 * @license    GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 * @link       https://joomline.ru/
 */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	color: #666;
}

.container {
	box-sizing: content-box;
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 30px;
}

.center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

h1 {
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 20px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}

table th {
	padding: 16px 12px;
	text-align: left;
	vertical-align: bottom;
	font-size: 0.875rem;
	font-weight: normal;
	color: #999;
	text-transform: uppercase;
	white-space: nowrap;
}

table td {
	padding: 16px 12px;
	vertical-align: top;
	box-sizing: border-box;
}

table td,
table th {
	border-right: 1px solid #e5e5e5;
}

table td > :last-child {
	margin-bottom: 0;
}

table tbody tr:nth-of-type(odd) {
	background: #f8f8f8;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

table tbody tr:last-child {
	border-bottom: 1px solid #e5e5e5;
}

table tbody tr:hover {
	background: #ffd;
}

a {
	color: #1e87f0;
	text-decoration: none;
	cursor: pointer;
}

a:active,
a:hover,
a:focus {
	outline: none;
}

a:hover,
a:focus {
	color: #0f6ecd;
	text-decoration: underline;
}

.alternates {
	margin-top: 8px;
	clear: both;
}

.alternates .alternate {
	display: inline-block;
	float: left;
	margin: 3px 3px 3px 0;
	padding: 0 10px;
	background: #1e87f0;
	line-height: 1.5;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 2px;
	text-transform: uppercase;
}

.alternates .alternate:hover {
	color: #fff;
	text-decoration: none;
}