<div class="row-fluid">
    <div class="col-md-1 col-sm-12">ID: {{vendor.vendor_id}}</div>
    <div class="col-md-2 col-sm-12">Cửa hàng: {{vendor.vendor_store_name}}</div>
    <div class="col-md-3 col-sm-12">Địa chỉ: {{vendor.address}}</div>
    <div class="col-md-2 col-sm-12">Tỉnh: {{vendor.province}}</div>
    <div class="col-md-2 col-sm-12">Đ.Thoại: {{vendor.phone}}</div>
    <div class="col-md-2 col-sm-12">Nhóm: <span ng-if="vendor.doituong_code == 'CTVCT'">CTV Chính thức</span><span ng-if="vendor.doituong_code == 'CTVTT'">CTV hợp tác</span></div>
</div>