/**
 * @version    3.7.x
 * @package    Simple Image Gallery Pro
 * @author     JoomlaWorks - https://www.joomlaworks.net
 * @copyright  Copyright (c) 2006 - 2019 JoomlaWorks Ltd. All rights reserved.
 * @license    https://www.joomlaworks.net/license
 */

@charset "UTF-8";

@font-face {
    font-family:'fontello';
    src:url("../fonts/fontello.eot?43368688");
    src:url("../fonts/fontello.eot?43368688#iefix") format('embedded-opentype'),
            url("../fonts/fontello.woff?43368688") format('woff'),
            url("../fonts/fontello.ttf?43368688") format('truetype'),
            url("../fonts/fontello.svg?43368688#fontello") format('svg');
    font-weight:normal;font-style:normal;
}
.sig-icon,
#sigPro [class^="sig-icon-"]:before,
#sigPro [class*=" sig-icon-"]:before {font-family:'fontello','Open Sans',sans-serif;font-style:normal;font-weight:normal;speak:none;line-height:1;display:inline-block;vertical-align:middle;text-decoration:none;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.sig-icon-address:before {content:'\e723';} /* '' */
.sig-icon-adjust:before {content:'\25d1';} /* '◑' */
.sig-icon-air:before {content:'\e753';} /* '' */
.sig-icon-alert:before {content:'💥';} /* '\1f4a5' */
.sig-icon-archive:before {content:'\e738';} /* '' */
.sig-icon-arrow-combo:before {content:'\e74f';} /* '' */
.sig-icon-arrows-ccw:before {content:'🔄';} /* '\1f504' */
.sig-icon-attach:before {content:'📎';} /* '\1f4ce' */
.sig-icon-attention:before {content:'\26a0';} /* '⚠' */
.sig-icon-back-in-time:before {content:'\e771';} /* '' */
.sig-icon-back:before {content:'🔙';} /* '\1f519' */
.sig-icon-bag:before {content:'👜';} /* '\1f45c' */
.sig-icon-basket:before {content:'\e73d';} /* '' */
.sig-icon-battery:before {content:'🔋';} /* '\1f50b' */
.sig-icon-behance:before {content:'\f34e';} /* '' */
.sig-icon-bell:before {content:'🔔';} /* '\1f514' */
.sig-icon-block:before {content:'🚫';} /* '\1f6ab' */
.sig-icon-book-open:before {content:'📖';} /* '\1f4d6' */
.sig-icon-book:before {content:'📕';} /* '\1f4d5' */
.sig-icon-bookmark:before {content:'🔖';} /* '\1f516' */
.sig-icon-bookmarks:before {content:'📑';} /* '\1f4d1' */
.sig-icon-box:before {content:'📦';} /* '\1f4e6' */
.sig-icon-briefcase:before {content:'💼';} /* '\1f4bc' */
.sig-icon-brush:before {content:'\e79a';} /* '' */
.sig-icon-bucket:before {content:'\e756';} /* '' */
.sig-icon-calendar:before {content:'📅';} /* '\1f4c5' */
.sig-icon-camera:before {content:'📷';} /* '\1f4f7' */
.sig-icon-cancel-circled:before {content:'\2716';} /* '✖' */
.sig-icon-cancel-squared:before {content:'\274e';} /* '❎' */
.sig-icon-cancel:before {content:'\2715';} /* '✕' */
.sig-icon-cc-by:before {content:'\e7a6';} /* '' */
.sig-icon-cc-nc-eu:before {content:'\e7a8';} /* '' */
.sig-icon-cc-nc-jp:before {content:'\e7a9';} /* '' */
.sig-icon-cc-nc:before {content:'\e7a7';} /* '' */
.sig-icon-cc-nd:before {content:'\e7ab';} /* '' */
.sig-icon-cc-pd:before {content:'\e7ac';} /* '' */
.sig-icon-cc-remix:before {content:'\e7af';} /* '' */
.sig-icon-cc-sa:before {content:'\e7aa';} /* '' */
.sig-icon-cc-share:before {content:'\e7ae';} /* '' */
.sig-icon-cc-zero:before {content:'\e7ad';} /* '' */
.sig-icon-cc:before {content:'\e7a5';} /* '' */
.sig-icon-ccw:before {content:'\27f2';} /* '⟲' */
.sig-icon-cd:before {content:'💿';} /* '\1f4bf' */
.sig-icon-chart-area:before {content:'🔾';} /* '\1f53e' */
.sig-icon-chart-bar:before {content:'📊';} /* '\1f4ca' */
.sig-icon-chart-line:before {content:'📈';} /* '\1f4c8' */
.sig-icon-chart-pie:before {content:'\e751';} /* '' */
.sig-icon-chat:before {content:'\e720';} /* '' */
.sig-icon-check:before {content:'\2713';} /* '✓' */
.sig-icon-clipboard:before {content:'📋';} /* '\1f4cb' */
.sig-icon-clock:before {content:'🕔';} /* '\1f554' */
.sig-icon-cloud-thunder:before {content:'\26c8';} /* '⛈' */
.sig-icon-cloud:before {content:'\2601';} /* '☁' */
.sig-icon-code:before {content:'\e714';} /* '' */
.sig-icon-cog:before {content:'\2699';} /* '⚙' */
.sig-icon-comment:before {content:'\e718';} /* '' */
.sig-icon-compass:before {content:'\e728';} /* '' */
.sig-icon-credit-card:before {content:'💳';} /* '\1f4b3' */
.sig-icon-cup:before {content:'\2615';} /* '☕' */
.sig-icon-cw:before {content:'\27f3';} /* '⟳' */
.sig-icon-database:before {content:'\e754';} /* '' */
.sig-icon-db-shape:before {content:'\f600';} /* '' */
.sig-icon-direction:before {content:'\27a2';} /* '➢' */
.sig-icon-doc-landscape:before {content:'\e737';} /* '' */
.sig-icon-doc-text-inv:before {content:'\e731';} /* '' */
.sig-icon-doc-text:before {content:'📄';} /* '\1f4c4' */
.sig-icon-doc:before {content:'\e730';} /* '' */
.sig-icon-docs:before {content:'\e736';} /* '' */
.sig-icon-dot-2:before {content:'\e78c';} /* '' */
.sig-icon-dot-3:before {content:'\e78d';} /* '' */
.sig-icon-dot:before {content:'\e78b';} /* '' */
.sig-icon-down-bold:before {content:'\e4b0';} /* '' */
.sig-icon-down-circled:before {content:'\e758';} /* '' */
.sig-icon-down-dir:before {content:'\25be';} /* '▾' */
.sig-icon-down-open-big:before {content:'\e764';} /* '' */
.sig-icon-down-open-mini:before {content:'\e760';} /* '' */
.sig-icon-down-open:before {content:'\e75c';} /* '' */
.sig-icon-down-thin:before {content:'\2193';} /* '↓' */
.sig-icon-down:before {content:'\2b07';} /* '⬇' */
.sig-icon-download:before {content:'📥';} /* '\1f4e5' */
.sig-icon-dribbble-circled:before {content:'\f31c';} /* '' */
.sig-icon-dribbble:before {content:'\f31b';} /* '' */
.sig-icon-drive:before {content:'\e755';} /* '' */
.sig-icon-dropbox:before {content:'\f330';} /* '' */
.sig-icon-droplet:before {content:'💧';} /* '\1f4a7' */
.sig-icon-erase:before {content:'\232b';} /* '⌫' */
.sig-icon-evernote:before {content:'\f333';} /* '' */
.sig-icon-export:before {content:'\e715';} /* '' */
.sig-icon-eye:before {content:'\e70a';} /* '' */
.sig-icon-facebook-circled:before {content:'\f30d';} /* '' */
.sig-icon-facebook-squared:before {content:'\f30e';} /* '' */
.sig-icon-facebook:before {content:'\f30c';} /* '' */
.sig-icon-fast-backward:before {content:'\23ea';} /* '⏪' */
.sig-icon-fast-forward:before {content:'\23e9';} /* '⏩' */
.sig-icon-feather:before {content:'\2712';} /* '✒' */
.sig-icon-flag:before {content:'\2691';} /* '⚑' */
.sig-icon-flash:before {content:'\26a1';} /* '⚡' */
.sig-icon-flashlight:before {content:'🔦';} /* '\1f526' */
.sig-icon-flattr:before {content:'\f336';} /* '' */
.sig-icon-flickr-circled:before {content:'\f304';} /* '' */
.sig-icon-flickr:before {content:'\f303';} /* '' */
.sig-icon-flight:before {content:'\2708';} /* '✈' */
.sig-icon-floppy:before {content:'💾';} /* '\1f4be' */
.sig-icon-flow-branch:before {content:'\e791';} /* '' */
.sig-icon-flow-cascade:before {content:'\e790';} /* '' */
.sig-icon-flow-line:before {content:'\e793';} /* '' */
.sig-icon-flow-parallel:before {content:'\e794';} /* '' */
.sig-icon-flow-tree:before {content:'\e792';} /* '' */
.sig-icon-folder:before {content:'📁';} /* '\1f4c1' */
.sig-icon-forward:before {content:'\27a6';} /* '➦' */
.sig-icon-gauge:before {content:'\e7a2';} /* '' */
.sig-icon-github-circled:before {content:'\f301';} /* '' */
.sig-icon-github:before {content:'\f300';} /* '' */
.sig-icon-globe:before {content:'🌎';} /* '\1f30e' */
.sig-icon-google-circles:before {content:'\f351';} /* '' */
.sig-icon-gplus-circled:before {content:'\f310';} /* '' */
.sig-icon-gplus:before {content:'\f30f';} /* '' */
.sig-icon-graduation-cap:before {content:'🎓';} /* '\1f393' */
.sig-icon-heart-empty:before {content:'\2661';} /* '♡' */
.sig-icon-heart:before {content:'\2665';} /* '♥' */
.sig-icon-help-circled:before {content:'\e704';} /* '' */
.sig-icon-help:before {content:'\2753';} /* '❓' */
.sig-icon-home:before {content:'\2302';} /* '⌂' */
.sig-icon-hourglass:before {content:'\23f3';} /* '⏳' */
.sig-icon-inbox:before {content:'\e777';} /* '' */
.sig-icon-infinity:before {content:'\221e';} /* '∞' */
.sig-icon-info-circled:before {content:'\e705';} /* '' */
.sig-icon-info:before {content:'\2139';} /* 'ℹ' */
.sig-icon-instagram:before {content:'\f32d';} /* '' */
.sig-icon-install:before {content:'\e778';} /* '' */
.sig-icon-key:before {content:'🔑';} /* '\1f511' */
.sig-icon-keyboard:before {content:'\2328';} /* '⌨' */
.sig-icon-lamp:before {content:'💡';} /* '\1f4a1' */
.sig-icon-language:before {content:'\e752';} /* '' */
.sig-icon-lastfm-circled:before {content:'\f322';} /* '' */
.sig-icon-lastfm:before {content:'\f321';} /* '' */
.sig-icon-layout:before {content:'\268f';} /* '⚏' */
.sig-icon-leaf:before {content:'🍂';} /* '\1f342' */
.sig-icon-left-bold:before {content:'\e4ad';} /* '' */
.sig-icon-left-circled:before {content:'\e759';} /* '' */
.sig-icon-left-dir:before {content:'\25c2';} /* '◂' */
.sig-icon-left-open-big:before {content:'\e765';} /* '' */
.sig-icon-left-open-mini:before {content:'\e761';} /* '' */
.sig-icon-left-open:before {content:'\e75d';} /* '' */
.sig-icon-left-thin:before {content:'\2190';} /* '←' */
.sig-icon-left:before {content:'\2b05';} /* '⬅' */
.sig-icon-level-down:before {content:'\21b3';} /* '↳' */
.sig-icon-level-up:before {content:'\21b0';} /* '↰' */
.sig-icon-lifebuoy:before {content:'\e788';} /* '' */
.sig-icon-light-down:before {content:'🔅';} /* '\1f505' */
.sig-icon-light-up:before {content:'🔆';} /* '\1f506' */
.sig-icon-link:before {content:'🔗';} /* '\1f517' */
.sig-icon-linkedin-circled:before {content:'\f319';} /* '' */
.sig-icon-linkedin:before {content:'\f318';} /* '' */
.sig-icon-list-add:before {content:'\e003';} /* '' */
.sig-icon-list:before {content:'\e005';} /* '' */
.sig-icon-location:before {content:'\e724';} /* '' */
.sig-icon-lock-open:before {content:'🔓';} /* '\1f513' */
.sig-icon-lock:before {content:'🔒';} /* '\1f512' */
.sig-icon-login:before {content:'\e740';} /* '' */
.sig-icon-logo-db:before {content:'\f603';} /* '' */
.sig-icon-logout:before {content:'\e741';} /* '' */
.sig-icon-loop:before {content:'🔁';} /* '\1f501' */
.sig-icon-magnet:before {content:'\e7a1';} /* '' */
.sig-icon-mail:before {content:'\2709';} /* '✉' */
.sig-icon-map:before {content:'\e727';} /* '' */
.sig-icon-megaphone:before {content:'📣';} /* '\1f4e3' */
.sig-icon-menu:before {content:'\2630';} /* '☰' */
.sig-icon-mic:before {content:'🎤';} /* '\1f3a4' */
.sig-icon-minus-circled:before {content:'\2796';} /* '➖' */
.sig-icon-minus-squared:before {content:'\229f';} /* '⊟' */
.sig-icon-minus:before {content:'\2d';} /* '-' */
.sig-icon-mixi:before {content:'\f34b';} /* '' */
.sig-icon-mobile:before {content:'📱';} /* '\1f4f1' */
.sig-icon-monitor:before {content:'💻';} /* '\1f4bb' */
.sig-icon-moon:before {content:'\263d';} /* '☽' */
.sig-icon-mouse:before {content:'\e789';} /* '' */
.sig-icon-music:before {content:'🎵';} /* '\1f3b5' */
.sig-icon-mute:before {content:'🔇';} /* '\1f507' */
.sig-icon-network:before {content:'\e776';} /* '' */
.sig-icon-newspaper:before {content:'📰';} /* '\1f4f0' */
.sig-icon-note-beamed:before {content:'\266b';} /* '♫' */
.sig-icon-note:before {content:'\266a';} /* '♪' */
.sig-icon-palette:before {content:'🎨';} /* '\1f3a8' */
.sig-icon-paper-plane:before {content:'\e79b';} /* '' */
.sig-icon-pause:before {content:'\2389';} /* '⎉' */
.sig-icon-paypal:before {content:'\f342';} /* '' */
.sig-icon-pencil:before {content:'\270e';} /* '✎' */
.sig-icon-phone:before {content:'📞';} /* '\1f4de' */
.sig-icon-picasa:before {content:'\f345';} /* '' */
.sig-icon-picture:before {content:'🌄';} /* '\1f304' */
.sig-icon-pinterest-circled:before {content:'\f313';} /* '' */
.sig-icon-pinterest:before {content:'\f312';} /* '' */
.sig-icon-play:before {content:'\25b6';} /* '▶' */
.sig-icon-plus-circled:before {content:'\2795';} /* '➕' */
.sig-icon-plus-squared:before {content:'\229e';} /* '⊞' */
.sig-icon-plus:before {content:'\2b';} /* '+' */
.sig-icon-popup:before {content:'\e74c';} /* '' */
.sig-icon-print:before {content:'\e716';} /* '' */
.sig-icon-progress-0:before {content:'\e768';} /* '' */
.sig-icon-progress-1:before {content:'\e769';} /* '' */
.sig-icon-progress-2:before {content:'\e76a';} /* '' */
.sig-icon-progress-3:before {content:'\e76b';} /* '' */
.sig-icon-publish:before {content:'\e74d';} /* '' */
.sig-icon-qq:before {content:'\f32a';} /* '' */
.sig-icon-quote:before {content:'\275e';} /* '❞' */
.sig-icon-rdio-circled:before {content:'\f325';} /* '' */
.sig-icon-rdio:before {content:'\f324';} /* '' */
.sig-icon-record:before {content:'\26ab';} /* '⚫' */
.sig-icon-renren:before {content:'\f33c';} /* '' */
.sig-icon-reply-all:before {content:'\e713';} /* '' */
.sig-icon-reply:before {content:'\e712';} /* '' */
.sig-icon-resize-full:before {content:'\e744';} /* '' */
.sig-icon-resize-small:before {content:'\e746';} /* '' */
.sig-icon-retweet:before {content:'\e717';} /* '' */
.sig-icon-right-bold:before {content:'\e4ae';} /* '' */
.sig-icon-right-circled:before {content:'\e75a';} /* '' */
.sig-icon-right-dir:before {content:'\25b8';} /* '▸' */
.sig-icon-right-open-big:before {content:'\e766';} /* '' */
.sig-icon-right-open-mini:before {content:'\e762';} /* '' */
.sig-icon-right-open:before {content:'\e75e';} /* '' */
.sig-icon-right-thin:before {content:'\2192';} /* '→' */
.sig-icon-right:before {content:'\27a1';} /* '➡' */
.sig-icon-rocket:before {content:'🚀';} /* '\1f680' */
.sig-icon-rss:before {content:'\e73a';} /* '' */
.sig-icon-search:before {content:'🔍';} /* '\1f50d' */
.sig-icon-share:before {content:'\e73c';} /* '' */
.sig-icon-shareable:before {content:'\e73e';} /* '' */
.sig-icon-shuffle:before {content:'🔀';} /* '\1f500' */
.sig-icon-signal:before {content:'📶';} /* '\1f4f6' */
.sig-icon-sina-weibo:before {content:'\f33f';} /* '' */
.sig-icon-skype-circled:before {content:'\f33a';} /* '' */
.sig-icon-skype:before {content:'\f339';} /* '' */
.sig-icon-smashing:before {content:'\f357';} /* '' */
.sig-icon-sound:before {content:'🔊';} /* '\1f50a' */
.sig-icon-soundcloud:before {content:'\f348';} /* '' */
.sig-icon-spotify-circled:before {content:'\f328';} /* '' */
.sig-icon-spotify:before {content:'\f327';} /* '' */
.sig-icon-star-empty:before {content:'\2606';} /* '☆' */
.sig-icon-star:before {content:'\2605';} /* '★' */
.sig-icon-stop:before {content:'\25a0';} /* '■' */
.sig-icon-stumbleupon-circled:before {content:'\f31f';} /* '' */
.sig-icon-stumbleupon:before {content:'\f31e';} /* '' */
.sig-icon-suitcase:before {content:'\e78e';} /* '' */
.sig-icon-sweden:before {content:'\f601';} /* '' */
.sig-icon-switch:before {content:'\21c6';} /* '⇆' */
.sig-icon-tag:before {content:'\e70c';} /* '' */
.sig-icon-tape:before {content:'\2707';} /* '✇' */
.sig-icon-target:before {content:'🎯';} /* '\1f3af' */
.sig-icon-thermometer:before {content:'\e757';} /* '' */
.sig-icon-thumbs-down:before {content:'👎';} /* '\1f44e' */
.sig-icon-thumbs-up:before {content:'👍';} /* '\1f44d' */
.sig-icon-ticket:before {content:'🎫';} /* '\1f3ab' */
.sig-icon-to-end:before {content:'\23ed';} /* '⏭' */
.sig-icon-to-start:before {content:'\23ee';} /* '⏮' */
.sig-icon-tools:before {content:'\2692';} /* '⚒' */
.sig-icon-traffic-cone:before {content:'\e7a3';} /* '' */
.sig-icon-trash:before {content:'\e729';} /* '' */
.sig-icon-trophy:before {content:'🏆';} /* '\1f3c6' */
.sig-icon-tumblr-circled:before {content:'\f316';} /* '' */
.sig-icon-tumblr:before {content:'\f315';} /* '' */
.sig-icon-twitter-circled:before {content:'\f30a';} /* '' */
.sig-icon-twitter:before {content:'\f309';} /* '' */
.sig-icon-up-bold:before {content:'\e4af';} /* '' */
.sig-icon-up-circled:before {content:'\e75b';} /* '' */
.sig-icon-up-dir:before {content:'\25b4';} /* '▴' */
.sig-icon-up-open-big:before {content:'\e767';} /* '' */
.sig-icon-up-open-mini:before {content:'\e763';} /* '' */
.sig-icon-up-open:before {content:'\e75f';} /* '' */
.sig-icon-up-thin:before {content:'\2191';} /* '↑' */
.sig-icon-up:before {content:'\2b06';} /* '⬆' */
.sig-icon-upload-cloud:before {content:'\e711';} /* '' */
.sig-icon-upload:before {content:'📤';} /* '\1f4e4' */
.sig-icon-user-add:before {content:'\e700';} /* '' */
.sig-icon-user:before {content:'👤';} /* '\1f464' */
.sig-icon-users:before {content:'👥';} /* '\1f465' */
.sig-icon-vcard:before {content:'\e722';} /* '' */
.sig-icon-video:before {content:'🎬';} /* '\1f3ac' */
.sig-icon-vimeo-circled:before {content:'\f307';} /* '' */
.sig-icon-vimeo:before {content:'\f306';} /* '' */
.sig-icon-vkontakte:before {content:'\f354';} /* '' */
.sig-icon-volume:before {content:'\e742';} /* '' */
.sig-icon-water:before {content:'💦';} /* '\1f4a6' */
.sig-icon-window:before {content:'\e74e';} /* '' */
